@media (min-width: 550px) {
  .header {
    padding: 20px 30px;

  }
}

@media (min-width: 1000px) {
  .header {
    padding: 20px 50px;
  }
}

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap');


body {
  background: lightblue;
  font-family: Roboto, sans-serif;
  margin: 0;
  padding: 0;
}

.header {
  background: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: black;
  padding: 0px 50px;
  font-size: 25px;
}

.home-img {
  width: 100vw;
  /* full bredd på hela viewporten */
  height: 500px;
  /* full höjd på skärmen */
  margin: 0;
  /* ingen extra marginal */
  padding: 0;
  overflow: hidden;
  /* klipper bort överflöd om det behövs */
}

.home-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* fyller både höjd & bredd snyggt */
  display: block;
  /* tar bort vita mellanrum runt bilden */
}

.header h1 {
  display: inline;
  align-items: left;
}

.logo {
  display: flex;
  align-items: center;
}

.header img {
  height: 100px;
  width: auto;
}


.image-header {
  justify-content: left;
  text-align: left;
  margin: 0px 0px 0px 1000px;
}

.nav-links ul {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  margin: 0;
  padding: 0;
}

/*mellanrum mellan länkarna*/

.nav-links ul li {
  margin-left: 100px;
  justify-content: flex-end;
}

.nav-links ul li a {
  text-decoration: none;
  color: black;
}

#menu {
  text-align: right;
  margin: 0px 100px;
  justify-content: right;
}

.image-header {
  height: 500px;
  width: 100%;
  object-fit: cover;
}